* { padding: 0; margin: 0; }
body {
    margin: 0;
    background-color: rgb(181, 250, 255);
}

.header {
    width: 100%;
    background-color: rgb(82, 0, 0);
    padding: 10px;
    height: 120px;
}

.headerpicture {
    float: left;
    margin: 0px;
    width: 120px;
    height: 120px;
}

.logo {
    text-align: center;
    height: ;
}

.headerback {
    background-color: #32BB32;
    padding: 10px;
    font-family: sans-serif;
}

nav {
    text-align: center;
    background-color: rgb(128, 126, 0);
    padding: 10px 0 10px 10px;
    margin-right: -20px;
}

nav a {
    display: flex;
    font-weight: bold;
    color: blue;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: black;
    transition: all 500ms ease-out;
}

.navlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 733px;
    background-color: rgba(255, 170, 0, 0.564);
    margin: 0 auto;
    margin-top: 24px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 13px;
}

.navtable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 739px;
    background-color: #97A726;
    margin: 0 auto;
    margin-top: 6px;
    padding: 7px;
    font-family: sans-serif;
    border-radius: 10px;
}

table {
    font-family: sans-serif;
    text-align: center;
    background-color: #6E381E;
    border-collapse: collapse;
    border-spacing: 5px;
    color: #399039;
    border: 8px solid #21639C;
}

th {
    background-color: #AFCDE7;
    color: #8A4343;
    font-size: 17px;
    padding: 31px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

td {
    padding: 19px;
    border-style: solid;
    border-width: 2px;
    border-color: #0A0606;
}

.even {
    background-color: #8C9B6E;
}

#navform {
    max-width: 800px;
    background-color: #00BFFF;
    margin: 0 auto;
    margin-top: 7px;
    padding: 7px;
    font-family: sans-serif;
    border-radius: 10px;
}

.footer {
    width: 90%;
    background-color: #72D944;
    margin: 50px;
    padding: 50px;
    font-family: sans-serif;
    border-radius: 20px;
}

.footerspan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #083008;
    border-radius: 20px;
    font-family: sans-serif;
    color: white;
}
.container
{
    width: 100%;
    max-width: auto;
    margin-top: 2%;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgb(8, 37, 32);
    background: url(http://w4.wallls.com/uploads/thumbnail/201606/02/119613.jpg);
    background-size: cover;
	text-align: center;
	position: relative;
}
.container{
    order: 1;
}
.table{
    order:2;
    
}
.navform {
    order:3;
}
@media only screen and (max-width: 550px) {
    .logo {
        padding-left: 20px;
        margin: -5px;
        flex: 2;
        order: 1;
        float: left;
    }
    .container
{
    margin: auto;
    width: 100%;
    max-width: 500px;
    order: 2;
    margin-bottom: 2%;
}
.table{
    order:1;
}
    nav {
        background-color: green;
        margin-top: 13px;
    }
    
    nav a {
        display: inline-block;
        margin-left: 18px;
    }
    table {
        width: 500px;
        height: 300px;
        border-spacing: 1px;
        font-size: 20px;
        font-weight: bold;
    }
    th{
        font-weight: bold;
    }
    td {
        padding: auto;
        text-align: center;
        border: 1px solid #795200fd;
    }
    #navform{
        margin: auto;
        width: 100%;
        max-width: 500px;
        order: 3;
    }
   
}

@media only screen and (min-width: 1224px) {
    .logo {
        padding-left: 20px;
        margin: -6px;
        width: 100px;
        height: 100px;
        float: left;
    }
    
    nav {
        text-align: center;
        background-color: green;
        padding: 2px;
        margin: 25px -20px 25px 25px;
    }
    
    nav a {
        font-weight: bold;
        color: blue;
        margin: 20px;
        font-size: 21px;
        text-decoration: none;
    }
}
